@CHARSET "UTF-8";
*{
	margin:0;
	padding:0;
}
body{
	font-size:12px;
	font-family:微软雅黑,黑体;
	background:url("../images/user_all_bg.gif") repeat-x scroll 50% top #226CC5;
}
textarea{
font-size: 13px;
}
img{
	border-width:0;
}
#body{
	background:#fff;
}
ul{
	list-style-type:none;
}
input{
	background:#fff;
	border:1px solid #369;
	border-radius:4px; 
	box-shadow:inset 0 0 2px #999; 
}
/*  “*提示信息”  样式  ，如：<h3>*提示信息<span><?php echo $_system['help_login'];?></span></h3>*/
h3{
	display:inline;
	margin:0;
	padding:0;
	color:red;
	cursor:help;
	position:relative;
}
h3 span{	
	word-wrap: break-word; 
	display:none;
	font-size:12px;
}
h3:hover span{
	width:160px;
	padding:10px;
	display:block;
	position:absolute;
	left:-15px;
	top:12px;
	background:#00c0ff; 
}
.radio{
	border-width:0;
	border-radius:0px; 
	box-shadow:inset 0 0 0px #999; 
	}
	
/*_msg函数提示信息样式*/
div#msg{
	position:absolute;
	left:430px;
	top:160px;
	width:550px;
	font-size:14px;
	color:#666;
	line-height:180%;
	text-align:center;
	padding:30px;
	background:#fff;
	border:2px solid #6699CC;;	
	z-index:9999;
}
div#msg img{
	position:relative;
	top:5px;
}
div#msg a{
	color:red;
	text-decoration:underline;
}
#page_num{
	height:18px;
	position:relative;
}
#page_num ul{
	position:absolute;
	right:40px;
}
#page_num ul li{
	float:left;
	width:25px;
	height:20px;
}
#page_num ul li a{
	display:block;
	border:1px solid #ccc;
	width:20px;
	height:20px;
	line-height:20px;
	text-align:center;
}
#page_num ul li a:hover{
	background:#666;
	color:#fff;
	font-weight:bold;
}
#page_num ul li a.selected{
	background:#666;
	color:#fff;
	font-weight:bold;
}
#page_text{
	height:18px;
}
#page_text ul{
	text-align:center;
}
#page_text ul li{
	display:inline;
}
#page_text ul li a{
	text-decoration:underline;
}



#addadmin{
	display:none;
	width:400px;
	height:200px;
	position:absolute;
	left:35%;
	top:200px;
	border:1px solid #ccc;
	background:lightyellow;
	z-index:9997;
}
#addadmin p{
	font-size:14px;
	height:30px;
	line-height:30px;
	border-bottom:2px solid #999;
	text-align:center;
	background:#76ACFC;
}
#addadmin p img{
	float:right;
	cursor:pointer;
}

#addadmin form dl{
	height:140px;
	margin:20px auto;
	text-align:center;
}
#addadmin form dl dd{
	margin:5px auto 0 auto;
}
#addadmin form dl dd input{
	width:170px;
	height:22px;
}
#addadmin form dl dd input.button{
	margin-top:16px;
	width:75px;
	height:26px;
	cursor:pointer;
}
#addadmin form dl dd input.button:hover{
	background:inactivecaption;
}
#pass_modify{
	display:none;
	width:400px;
	height:200px;
	position:absolute;
	left:35%;
	top:200px;
	border:1px solid #ccc;
	background:lightyellow;
	z-index:9997;
}
#pass_modify p{
	font-size:14px;
	height:30px;
	line-height:30px;
	border-bottom:2px solid #999;
	text-align:center;
	background:#76ACFC;
}
#pass_modify p img{
	float:right;
	cursor:pointer;
}

#pass_modify form dl{
	height:140px;
	margin:20px auto;
	text-align:center;
}
#pass_modify form dl dd{
	margin:5px auto 0 auto;
}
#pass_modify form dl dd input{
	width:170px;
	height:22px;
}
#pass_modify form dl dd input.button{
	margin-top:16px;
	width:75px;
	height:26px;
	cursor:pointer;
}
#pass_modify form dl dd input.button:hover{
	background:inactivecaption;
}
