@CHARSET "UTF-8";
#top{
	width:90%;
	margin:10px auto 0 auto;
}
#top p{
	border-bottom:2px solid #999;
	height:28px;
	line-height:28px;
}
#top p span.type{
	cursor:pointer;
	border:1px solid #333;
	padding:2px 10px;
	margin:0 5px;
}
#top p span.type:hover{
	background:#666;
	color:#fff;
}
#center,#bottom{
	width:90%;
	margin:10px auto 0 auto;
}
#details{
	clear:both;
	width:90%;
	margin:0 auto 0 auto;
	border:1px solid #999;
	padding:5px 0;
	min-height:50px;
	word-wrap:break-word;
	line-height:180%;
}
#details span{
	cursor:pointer;
	padding-right:14px;
	border:1px solid #999;
	margin:4px;
	background:url("../images/icon_del.gif") no-repeat right center;
}
#details span:hover{
	background:#ccc url("../images/icon_del.gif") no-repeat right center;
}

#center input.text{
	width:140px;
	height:22px;
	margin-top:5px;
}
#center input.money{
	width:118px;
}
#center textarea.textarea{
	width:250px;
	height:80px;
}
#center input.select{
	height:18px;
}
#center input.button{
	margin-top:10px;
	width:50px;
	height:22px;
	cursor:pointer;
}
#form1{
	width:100%;
	border-bottom:1px solid #999;
	float:left;
	margin-bottom:5px;
}
#form1 .submit{
	float:right;
	margin:0 20px 5px 0;
	clear:both;
	display:block;
	cursor:pointer;
	width:50px;
	height:22px;
}
#condition dl{
	float:left;
	margin:0 20px;
}
#condition dl dt{
	margin-bottom:4px;
	font-size:12px;
}
#condition dl dd{
	line-height:180%;
}
#last{
	clear:both;
	width:90%;
	margin:0 auto 0 auto;
}
#last input.text{
	width:140px;
	height:18px;
}
#last textarea.textarea{
	width:250px;
	height:80px;
}
#last input.select{
	height:18px;
}
#last input.button{
	margin:10px 0;
	width:50px;
	height:22px;
	cursor:pointer;
}
.show{
	background:#666;
	color:#fff;
}