@CHARSET "UTF-8";
input{
	background:#fff;
	border:1px solid #ccc;
	border-radius:0px; 
	box-shadow:inset 0 0 0px #999; 
}
#list {
color:#625F5F;
line-height:23px;
width:650px;
margin:0 auto;
background-image: url(../images/list_bg.gif);
background-repeat: repeat-x;
background-color:#F0F8FF;
padding:20px 13px 13px 13px;
}
#listmain{
border: 1px solid #D5E4F4;
background:#FFF;
padding:5px;
margin:0px;
padding-bottom:20px;
}
#listmain p{
	padding:10px 0 20px 20px;
}
#listmain h2{
font:9pt Verdana;
color:#175CBB;
border-top:1px solid #EBF5FE;
border-bottom:1px solid #EBF5FE;
background:#F4FAFF;
padding:3px;
font-weight: normal;
height:20px;
}
#listmain form textarea{
	display:block;
	font-size:14px;
	width:500px;
	height:120px;
	border:1px solid #ccc;
}
#listmain form textarea:focus{
	border-color:lightblue;
}
#listmain form .button{
	width:70px;
	height:27px;
	margin-left:0px;
	margin-top:15px;
	cursor:pointer;
}

#listmain form .button:hover{
	background:inactivecaption;
}