@CHARSET "UTF-8";
#main table{
	margin:40px auto 40px auto;
	border-collapse:collapse;
}
#main table tr th,td{
	padding:5px 10px 5px 10px;
	border:1px solid #999;
}
#main table tr td a{
	color:blue;
}
#main table tr td a:hover{
	color:red;
	text-decoration:underline;
}
#main table tr:hover{
	background:#ffc;
}
#main table tr th{
	background:lightblue
}
#main table.sortableTable td{
	text-align:center;	
}
#main table tr th.sortableCol{
	cursor:pointer;
}
th img.sortDirImage {
margin-left:6px;
margin-bottom:3px;
}