@CHARSET "UTF-8";
#main table{
	margin:40px auto 40px auto;
	border-collapse:collapse;
}
#main table tr th,td{
	padding:5px 10px 5px 10px;
	border:1px solid #999;
}
#main table tr td a{
	color:blue;
}
#main table tr td a:hover{
	color:red;
	text-decoration:underline;
}
#main table tr:hover{
	background:#ffc;
}
#main table tr th{
	background:lightblue
}
#main table tr th.sortableCol{
	cursor:pointer;
}
#main #search{
	height:25px;
	margin:20px 30% 0px 30%;
	font-size:13px;
}
#main #search input.search{
	height:22px;
	position:relative;
}
#main #search input.img{
	position:relative;
	top:7px;
	border-width:0;
}
#body p.record{
	text-align:center;
}
#body p.record span{
	color:red;
	padding:0 2px;
}
th img.sortDirImage {
margin-left:6px;
margin-bottom:3px;
}
